<div class="row p-t-30">
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5">
        <a href="/home">
            <div class="side-nav-button">
                <img src="https://image.flaticon.com/icons/svg/481/481270.svg" height="35" width="35"> <span class="side-nav-title">Home</span>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5">
        <a href="" >
            <div class="side-nav-button">
                <img src="https://image.flaticon.com/icons/svg/679/679744.svg" height="35" width="35"> <span class="side-nav-title">Franchise</span>
            </div>
        </a>
    </div>
</div>