<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 side-nav-logo">
        <div>
            <a href="/home">
                <div class="align-center">
                    <fa-icon class="side-nav-icon-logo" [icon]="faSmoking"></fa-icon>
                    <span class="side-nav-title-logo">Smoke</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5 side-nav-button">
        <a href="/home">
            <div>
                <fa-icon class="side-nav-icons" [icon]=faTachometerAlt></fa-icon> <span class="side-nav-title">Home</span>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5 side-nav-button">
        <a href="" >
            <div>
                <fa-icon class="side-nav-icons" [icon]=faStore></fa-icon> <span class="side-nav-title">Franchise</span>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5 divider">
        <div >
            <hr class="solid">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 p-t-5 p-b-5 side-nav-button">
        <a href="" >
            <div>
                <fa-icon class="side-nav-icons" [icon]=faCog></fa-icon> <span class="side-nav-title">Settings</span>
            </div>
        </a>
    </div>
</div>