//colors


//just change this colors
$theme-color-1:#0061AF;
$theme-color-2:#fff;
$theme-color-3: #F5F5F5;


//fixed colors
$font-color-1: $theme-color-1;
$font-color-2:$theme-color-2;
$font-color-3:#000;


//basic colors
$color-gray: rgb(156, 156, 156);
$color-white:#fff;
$color-black:#000;

